/* Top heading want to center with border wrapped around. */
#form-heading {
    display: inline-block;
}

h2 {
    border: 2px solid;
    position: relative;
    left: 120%;
    padding: 20px;
}

form {
    text-align: center;
    display: block;
}

p {
    font-weight: bold;   
}

#form {
    border: 2px solid;
}
