#form-heading {
    text-align: center;
    margin: 10px;
}

h2 {
    display: inline;
    border: 5px solid orange;
    color: blue;
}

form {
    display: block;
    text-align: center;
}

p {
    font-weight: bold; 
    color: blue;  
}

#all-apply {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
}

.first-name {
    color: blue;
}

.last-name {
    color: blue;
}

input[type=text] {
    color: green;
    border: 2px solid orange;
}

label {
    color: rgb(255, 102, 0)
}

input[type=submit] {
    color: blue;
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0px 5px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(243, 237, 237);
}

input[type=submit]:active {
    margin-top: 5px;
    box-shadow: 0px 0px;
    color: black;
}
