#header {
    text-align: center;
    margin: 10px;
}

h2 {
    display: inline;
    border: 5px solid black;
}

#form-box{
    text-align: center;
}

form {
    display: block;
}

p {
    font-weight: bold;   
}
